<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Главная", root_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Профиль", current_user %></li>
        <li><%= link_to "Пользователи", users_path %></li>
        <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
      <% end %>
      <li><%= link_to "Помощь", help_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Выйти", signout_path %></li>
      <% else %>
        <li><%= link_to "Войти", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
